/* Colors */
/* Primary colors */
#page {
  background: none repeat scroll 0 0 #caccb6;
}
/* Start Navbar */
.navbar {
  background: none repeat scroll 0 0 #8e9e82;
  border: none;
  border-radius: 0;
  margin: 0;
}
.navbar .navbar-brand {
  float: left;
  font-size: 18px;
  line-height: 20px;
  padding: 15px;
  width: 250px;
}
.navbar .navbar-brand img {
  position: absolute;
  max-width: 60%;
  height: 30px;
  width: 120px;
  top: 8px;
  left: 60px;
}
.navbar .dropdown-toggle {
  color: #FFFFFF;
}
.navbar .dropdown-toggle i {
  color: #FFFFFF;
  font-size: 17px;
}
.navbar .dropdown-toggle .badge {
  background-color: #dd5a43;
  border-radius: 99px !important;
  font-size: 12px !important;
  font-weight: 300;
  height: 16px;
  padding: 2px 6px;
  position: absolute;
  right: 24px;
  text-align: center;
  text-shadow: none !important;
  top: 8px;
}
.navbar .dropdown-toggle .username {
  font-weight: 600;
}
.navbar #header-notification .dropdown-toggle i,
.navbar #header-message .dropdown-toggle i,
.navbar #header-tasks .dropdown-toggle i {
  color: #FFFFFF;
  /* text-shadow: 1px 1px lighten(@navbar-primary, 25%), -1px -1px darken(@navbar-primary, 20%); */

}
.navbar #navbar-left li.dropdown {
  background-color: #9ba990;
  border-right: 1px solid #819374;
  font-weight: 400;
}
.navbar #navbar-left li.dropdown:first-child {
  border-left: 1px solid #819374;
}
.navbar #navbar-left i {
  margin-right: 5px;
  color: #FFFFFF;
}
.navbar .nav.navbar-nav.pull-right {
  min-width: 300px;
}
.navbar .nav > li > a:hover,
.navbar .nav > li > a:focus,
.navbar .nav .open > a,
.navbar .nav .open > a:hover,
.navbar .nav .open > a :focus {
  background-color: #a8b49f !important;
}
/* Navbar Dropdown */
.dropdown-menu {
  background: none repeat scroll 0 0 #FFFFFF;
  border: 1px solid #C7CBD5;
  display: none;
  float: left;
  left: 0;
  font-size: 14px;
  list-style: none outside none;
  margin: 0;
  max-width: 300px;
  min-width: 166px;
  padding: 0;
  position: absolute;
  text-shadow: none;
  top: 100%;
  z-index: 1000;
  font-family: "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.dropdown-menu .dropdown-title {
  background: none repeat scroll 0 0 #748568;
  color: #FFFFFF;
  display: block;
  font-weight: 600;
  line-height: 30px;
  padding: 5px 10px;
}
.dropdown-menu .dropdown-title i {
  margin-right: 5px;
}
.dropdown-menu .footer {
  display: block;
}
.dropdown-menu .footer a {
  background-color: #d9dbcb !important;
  font-weight: 600;
  line-height: 30px;
  text-align: center;
  border-bottom: none !important;
  border-top: none !important;
}
.dropdown-menu .footer a i {
  margin-left: 5px;
  font-size: 16px;
}
.dropdown-menu ul {
  margin: 0 !important;
  padding: 0 !important;
}
/* Navbar Settings Menu */
.dropdown-menu.skins {
  border-top: 1px solid #748568;
}
/* Navbar Right Menu */
.dropdown-menu {
  background-color: #f4f4f4;
}
.dropdown-menu li a {
  background-color: #f4f4f4;
  border-bottom: 1px solid #FFFFFF;
  border-top: 1px solid #E7E7E7;
  display: block;
  line-height: 40px;
  padding: 0 10px;
}
.dropdown-menu li a:hover {
  color: #333333;
  background-color: #ffffff;
}
.dropdown-menu.context {
  /* For smaller menus */

}
.dropdown-menu.context li a {
  line-height: 30px;
}
.dropdown-menu .divider {
  height: 1px;
  border-bottom: 0 !important;
  border-top: 1px solid #cecece !important;
  color: #555555 !important;
  margin: 0 !important;
}
/* Notification */
.dropdown-menu.notification {
  border-top: 1px solid #748568;
  width: 270px;
}
.dropdown-menu.notification .label {
  color: #FFFFFF;
  display: inline-block;
  margin: -1px 10px -5px -10px !important;
  padding: 9px;
  text-align: center;
  width: 40px;
  height: 42px;
  border-radius: 0;
  position: absolute;
}
.dropdown-menu.notification .label i {
  font-size: 18px;
}
.dropdown-menu.notification .body {
  position: relative;
  display: inline-block;
  line-height: 20px;
  vertical-align: middle;
  white-space: normal;
  margin: 5px 5px 5px 40px;
  width: 100%;
}
.dropdown-menu.notification .message {
  line-height: 16px;
  display: inline-block;
  margin: 0 5px 5px 0;
}
.dropdown-menu.notification .time {
  color: #777777;
  display: inline-block;
  font-size: 12px;
}
/* Messages */
.dropdown-menu.inbox {
  border-top: 1px solid #748568;
  width: 280px;
}
.dropdown-menu.inbox img {
  border-radius: 50em 50em 50em 50em;
  height: 40px;
  margin-right: 10px;
  margin-top: 5px;
  width: 40px;
}
.dropdown-menu.inbox .body {
  position: relative;
  display: inline-block;
  line-height: 20px;
  max-width: 220px;
  vertical-align: middle;
  white-space: normal;
  margin: 5px 0;
}
.dropdown-menu.inbox .from {
  display: inline-block;
  line-height: 14px;
  font-weight: 600;
  margin-bottom: 5px;
}
.dropdown-menu.inbox .message {
  line-height: 16px;
  display: block;
  margin-bottom: 5px;
}
.dropdown-menu.inbox .time {
  color: #777777;
  display: block;
  font-size: 12px;
}
.dropdown-menu.inbox .compose {
  display: block;
}
.dropdown-menu.inbox .compose :hover {
  cursor: pointer;
}
/* Tasks */
.dropdown-menu.tasks {
  border-top: 1px solid #748568;
  width: 250px;
}
.dropdown-menu.tasks .progress {
  margin-top: 0 !important;
  margin-bottom: 10px !important;
  height: 9px !important;
}
/* User Menu */
.dropdown.user a.dropdown-toggle {
  padding: 10px 10px 11px;
}
.dropdown.user .dropdown-menu {
  border-top: none;
}
.dropdown.user img {
  margin-right: 5px;
  border-radius: 99px;
  height: 29px;
  width: 29px;
  /* filter: url("data:image/svg+xml;filter: gray;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); */

}
.dropdown.user a:hover img,
.dropdown.user a:focus img {
  filter: none;
}
/* End Navbar */
/* Start Sidebar */
#sidebar {
  background: none repeat scroll 0 0 #caccb6;
  padding: 0 !important;
  width: 200px;
  position: absolute;
  border-bottom: 1px solid #bfc2a7;
}
.sidebar-fixed {
  position: fixed !important;
}
#sidebar * {
  text-overflow: ellipsis;
}
.sidebar-menu > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 15px;
  border-bottom: 1px solid #d5d6c5 !important;
  border-top: 1px solid #d5d6c5 !important;
}
.sidebar-menu > ul > li {
  display: block;
  margin: 0;
  padding: 0;
  border: 0px;
}
.sidebar-menu > ul > li > a {
  display: block;
  position: relative;
  margin: 0;
  border: 0 none;
  padding: 15px 15px 15px 20px;
  text-decoration: none;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
}
.sidebar-menu > ul > li a i {
  color: #4b4d36;
  font-size: 16px;
  margin-right: 5px;
}
.sidebar-menu > ul > li.has-sub {
  position: relative;
}
.sidebar-menu > ul > li.has-sub .sub {
  position: relative;
  background: #bfc2a7;
  border-top: 1px solid #bfc2a7;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1) inset;
}
.sidebar-menu > ul > li.has-sub .sub .has-sub-sub .sub-sub {
  position: relative;
  background: #bfc2a7;
  border-top: 1px solid #bfc2a7;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1) inset;
}
.sidebar-menu > ul > li.active > a {
  border: none;
  text-shadow: none;
}
.sidebar-menu ul > li > a .arrow:before {
  float: right;
  margin-top: 1px;
  margin-right: 5px;
  display: inline;
  font-size: 16px;
  font-family: FontAwesome;
  height: auto;
  content: "\f0d9";
  font-weight: 300;
  text-shadow: none;
}
.sidebar-menu > ul > li > a .arrow.open:before {
  float: right;
  margin-top: 1px;
  margin-right: 5px;
  display: inline;
  font-family: FontAwesome;
  height: auto;
  font-size: 16px;
  content: "\f0d7";
  font-weight: 300;
  text-shadow: none;
}
.sidebar-menu > ul > li > ul.sub:before {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: #2e2f21;
  border-image: none;
  border-style: dotted;
  border-width: 0 0 0 1px;
  bottom: 0;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  z-index: 1;
}
.sidebar-menu > ul > li > ul.sub > li:before {
  border-top: 1px dotted #2e2f21;
  content: "";
  display: inline-block;
  position: absolute;
  width: 17px;
  margin: 5% 0 0;
}
.sidebar-menu > ul > li > ul.sub {
  display: none;
  list-style: none;
  clear: both;
  padding-left: 25px;
}
.sidebar-menu > ul > li > ul.sub .has-sub-sub ul.sub-sub {
  display: none;
  list-style: none;
  clear: both;
}
.sidebar-menu > ul > li.active > ul.sub {
  display: block;
}
.sidebar-menu > ul > li.active > ul.sub .has-sub-sub ul.sub-sub {
  display: block;
}
.sidebar-menu > ul > li > ul.sub > li,
.sidebar-menu > ul > li > ul.sub .has-sub-sub ul.sub-sub > li {
  background: none;
  margin: 0px;
  padding: 0px;
  margin-top: 1px !important;
}
.sidebar-menu > ul > li > ul.sub > li > a {
  display: block;
  margin: 0px 0px 0px 0px;
  padding: 5px 0px;
  padding-left: 30px !important;
  color: #4b4d36;
  text-decoration: none;
  font-size: 13px;
  font-weight: 300;
  background: none;
}
.sidebar-menu > ul > li > ul.sub .has-sub-sub ul.sub-sub > li > a {
  display: block;
  margin: 0px 0px 0px 0px;
  padding: 5px 0px;
  padding-left: 30px !important;
  color: #4b4d36;
  text-decoration: none;
  font-size: 13px;
  font-weight: 300;
  background: none;
}
.sidebar-menu > ul > li > ul.sub .has-sub-sub ul.sub-sub > li :hover,
.sidebar-menu > ul > li > ul.sub .has-sub-sub ul.sub-sub > li :focus {
  text-decoration: underline;
}
.sidebar-menu > ul > li > ul.sub > li > a > i,
.sidebar-menu > ul > li > ul.sub .has-sub-sub ul.sub-sub > li > a > i {
  font-size: 13px;
}
.sidebar-menu > ul > li > a {
  border-bottom: 1px solid #d5d6c5 !important;
  border-top: 1px solid #bfc2a7 !important;
  color: #4b4d36 !important;
}
.sidebar-menu > ul > li:last-child > a {
  border-bottom: 1px solid transparent !important;
}
.sidebar-menu > ul > li:first-child > a {
  /* border-top-color: transparent !important; */

}
.sidebar-menu > ul > li a i {
  color: #4b4d36;
}
.sidebar-menu > ul > li.has-sub.open > a,
.sidebar-menu > ul > li > a:hover,
.sidebar-menu > ul > li:hover > a {
  background: #ebebe3;
}
.sidebar-menu > ul > li.has-sub.open > ul > li.has-sub-sub.open > a {
  background: #ebebe3;
}
.sidebar-menu > ul > li.active > a {
  background: #d9dbcb !important;
  border-top-color: transparent !important;
  color: #fff;
}
.sidebar-menu > ul > li > a.open {
  background: #313131;
}
.sidebar-menu ul > li > a .arrow:before,
.sidebar-menu > ul > li > a .arrow.open:before {
  color: #4b4d36 !important;
}
/*.sidebar-menu ul > li.active > a .arrow:before,
.sidebar-menu > ul > li.active > a .arrow.open:before {  
   color: #fff !important;
} */
.sidebar-menu > ul > li > ul.sub > li > a {
  color: #4b4d36;
  margin-left: 0px;
  padding-left: 5px;
  font-size: 13px;
  font-weight: 400;
}
.sidebar-menu > ul > li > ul.sub > li:first-child > a {
  border-top: 0px !important;
}
.sidebar-menu > ul > li > ul.sub > li.active > a,
.sidebar-menu > ul > li > ul.sub > li > a:hover,
.sidebar-menu > ul > li > ul.sub > li.current {
  background: #caccb6 !important;
}
.sidebar-menu > ul > li > ul.sub > li > a:hover {
  background: #caccb6 !important;
}
/* Search */
.sidebar-menu #search-bar {
  display: block;
  text-align: center;
}
.sidebar-menu #search-bar .search {
  background: none repeat scroll 0 0 #ebebe3;
  border: 0 none;
  border-radius: 4px;
  color: #4b4d36;
  padding: 8px 10px;
  width: 90%;
  margin: 0 auto 10px;
  padding-right: 30px !important;
}
.sidebar-menu #search-bar .search-icon {
  display: block;
  font-size: 14px;
  line-height: 1;
  position: absolute;
  right: 22px;
  top: 29px;
  color: #858960;
}
/* Mini Menu Search */
.mini-menu .sidebar-menu #search-bar {
  display: block;
  text-align: center;
}
.mini-menu .sidebar-menu #search-bar .search {
  background: none repeat scroll 0 0 #ebebe3;
  border: 0 none;
  border-radius: 4px;
  color: #4b4d36;
  padding: 8px 10px;
  width: 90%;
  margin: 0 auto 10px;
}
.mini-menu .sidebar-menu #search-bar .search-icon {
  display: block;
  font-size: 14px;
  line-height: 1;
  position: absolute;
  right: 22px;
  top: 29px;
  color: #858960;
}
/* Quick launch */
.sidebar-menu .quicklaunch-lg {
  line-height: 39px;
  margin-bottom: 0;
  max-height: 41px;
  text-align: center;
}
.sidebar-menu .quicklaunch-lg .btn {
  margin-right: 1rem;
}
.sidebar-menu .quicklaunch-mini {
  display: none;
  font-size: 0;
  line-height: 18px;
  padding-bottom: 2px;
  padding-top: 2px;
  text-align: center;
  width: 50px;
}
/* Sidebar collapse */
.sidebar-collapse,
.switcher {
  padding: 10px 10px 0 0;
  position: absolute;
  top: 10px;
  left: 10px;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
  color: #FFFFFF;
  padding: 6px 8px;
}
.sidebar-collapse:hover,
.switcher:hover {
  background-color: #819374;
}
.sidebar-collapse > [class*="fa-"],
.switcher > [class*="fa-"] {
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  padding: 0 5px;
  position: relative;
  float: right;
}
.menu-text .badge {
  position: absolute;
  right: 35px;
  line-height: 15px;
  padding-bottom: 3px;
  padding-top: 2px;
  text-shadow: none;
  background-color: #dd5a43 !important;
}
/* Min Menu */
.mini-menu#sidebar {
  width: 50px;
}
.mini-menu#sidebar:before {
  width: 50px;
}
.mini-menu#sidebar .sidebar-menu > ul > li > a > .menu-text .badge {
  top: 15px;
  right: 10px;
}
.mini-menu#sidebar .sidebar-menu > ul > li > a > .menu-text .label {
  position: absolute;
  top: 15px;
  right: 10px;
}
.mini-menu#sidebar .sidebar-menu > ul > li > a > .menu-text {
  background-color: #caccb6;
  display: none;
  height: 50px;
  left: 50px;
  line-height: 38px;
  padding-left: 12px;
  position: absolute;
  top: 0;
  width: 174px;
  padding: 5px 0 0 15px;
  z-index: 121;
  border: 1px solid #a9ad89;
}
.mini-menu#sidebar .sidebar-menu > ul > li.has-sub > a > .menu-text {
  border-right: none;
  border-top: none;
}
.mini-menu#sidebar .sidebar-menu > ul > li:hover > a > .menu-text {
  display: block;
}
.mini-menu#sidebar .sidebar-menu > ul > li > ul.sub {
  background-color: #bfc2a7;
  border: 1px solid #a9ad89;
  display: none !important;
  left: 50px;
  padding-bottom: 2px;
  padding-top: 50px;
  position: absolute;
  top: 0;
  width: 176px;
  z-index: 120;
  border-top: 1px solid #bfc2a7;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1) inset;
}
.mini-menu#sidebar .sidebar-menu > ul > li:hover > ul.sub {
  display: block !important;
}
.mini-menu#sidebar .sidebar-menu ul > li > a .arrow:before {
  display: none;
}
.mini-menu#sidebar .sidebar-menu > ul > li > a .arrow.open:before {
  display: none;
}
.mini-menu#sidebar .quicklaunch-mini {
  display: block;
}
.mini-menu#sidebar #quicklaunch {
  position: relative;
}
.mini-menu#sidebar .quicklaunch-lg {
  background-color: #caccb6;
  display: none;
  left: 50px;
  position: absolute;
  top: -1px;
  width: 190px;
  z-index: 20;
  padding: 0 0 0 1px;
  max-height: 50px;
  height: 115%;
  border: 1px solid #a9ad89;
}
.mini-menu#sidebar .quicklaunch-lg .btn {
  margin-right: 0.25rem;
}
.mini-menu#sidebar #quicklaunch:hover .quicklaunch-lg {
  display: block;
}
/* End Sidebar */
/* Team Status */
.team-status {
  background-color: #f2f0df;
  display: none;
  border-bottom: 2px solid #e3dfbb;
}
.team-status.open {
  display: block;
}
.team-status .team-list {
  height: 100%;
  list-style: none outside none;
  margin: 0 auto;
  padding: 15px 10px 20px;
  text-align: center;
}
.team-status .team-list li {
  color: #555555;
  display: inline-block;
  padding: 0 30px;
}
.team-status .team-list li:last-child {
  border-right: 0 none;
}
.team-status .team-list li a {
  color: #555555;
  display: block;
  opacity: 0.9;
  padding: 15px;
  border-radius: 4px;
  min-width: 200px;
}
.team-status .team-list li a .progress {
  margin-top: 10px !important;
  height: 9px !important;
  margin-bottom: 10px !important;
}
.team-status .team-list li a .status {
  text-align: left;
  font-size: 11px;
  text-transform: uppercase;
}
.team-status .team-list li a .status .field {
  margin-bottom: 5px;
}
.team-status .team-list li a:hover {
  background-color: rgba(255, 255, 255, 0.07);
  opacity: 1;
  text-decoration: none;
}
.team-status .team-list li .image,
.team-status .team-list li .title {
  display: block;
}
.team-status .team-list li .image img {
  height: 45px;
  width: 45px;
  border-radius: 150px 150px 150px 150px;
}
.team-status .team-list li .title {
  font-weight: 600;
}
.team-status .team-list li .image + .title {
  padding-top: 10px;
}
.team-status .team-list li.current a {
  background-color: rgba(255, 255, 255, 0.07);
  opacity: 1;
  text-decoration: none;
}
